.container{
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin:  auto; 
}
.first-page{
    width: 95%;
    margin: 0px auto;
    margin-top: 24px;
}
.nav-bar{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    margin-top: 8px;
    font-size: 12.4444px;
    font-weight: 600;
    margin-left: 25px;
}
.shop:hover{
    background-color: black;
    width: 42.3px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.ai:hover{
    background-color: black;
    width: 26.03px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.mobile:hover{
    background-color: black;
    width: 52.48px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.tvav:hover{
    background-color: black;
    width: 56.22px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.ha:hover{
    background-color: black;
    width: 111.16px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.comp:hover{
    background-color: black;
    width: 75.78px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.dis:hover{
    background-color: black;
    width: 61.33px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.acce:hover{
    background-color: black;
    width: 79.52px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.st:hover{
    background-color: black;
    width: 85.28px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.ac:hover{
    background-color: black;
    width: 103.89px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.supp:hover{
    background-color: black;
    width: 59.13px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.fb:hover{
    background-color: black;
    width: 83.63px;
    height: 28.61px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}
.brand{
    margin-top: 16px;
    margin-left: 25px;
}
.nav-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7.11px;
    width: 10%;
    background-color: white;
    margin-left: 25px;
}
.size-6{
    width: 21.3px;
}
.nav-detail{
    width: 21.3px;
}
@media (max-width: 1278px){
    .nav-bar{
        display: none;
    }
    .container{
        display: flex;
        justify-content: space-between;
    }
}
@media (min-width: 1278px){
    .nav-detail{
        display: none;
    }
}
/* first page */
.bg-cl1{
    background-color: whitesmoke;
    opacity: 0.8;
    margin-top: 16px;
    width: 100%;
    height: 572.44px;
    width: 1234px;
    height: 548px;
    margin-left: 0.1%;

}
.bg-img1{
    position: absolute;
    top: 200px;
    left: 40%;
    margin-left: 25px;
}
.font1{
    position: absolute;
    top: 165px;
    left: 100px;
    font-family: 'Lato',sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 25px;
}
.p1{
    position: absolute;
    top: 250px;
    left: 100px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 400;
    opacity: 0.9;
    margin-left: 25px;
}
.p11{
    position: absolute;
    top: 315px;
    left: 100px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: small;
    opacity: 0.8;
    margin-left: 25px;
}
.learn{
    position: absolute;
    top: 380px;
    left: 100px;
    color: black;
    font-size: small;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25px;
}
.learn:hover{
    cursor: pointer;
    text-decoration: underline;
}
.buy{
    position: absolute;
    top: 385px;
    left: 197px;
    background-color: black;
    border-radius: 15px;
    width: 90px;
    height: 30px;
    margin-left: 25px;
}
.buy:hover{
    opacity: 0.5;
    cursor: pointer;
}
.now{
    position: absolute;
    top: 378px;
    left: 215px;
    font-size: small;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 25px;
}
.l-arr{
    position: absolute;
    top: 290px;
    left: 4%;
    margin-left: 0.2%;
}
.r-arr{
    position: absolute;
    top: 290px;
    left: 90%;
    margin-left: 25px;
}
.line{
    display: flex;
    justify-content: space-around;
    width: 50%;
    position: absolute;
    top: 550px;
    left: 360px;
    margin-left: 25px;
}
.play{
    position: absolute;
    top: 550px;
    left: 1030px;
    margin-left: 25px;
}
.varient{
    display: flex;
    justify-content: space-around;
    width: 50%;
    position: absolute;
    top: 485px;
    left: 350px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-left: 25px;
}
.l11:hover{
    cursor: pointer;
}
.l12:hover{
    cursor: pointer;
}
.l13:hover{
    cursor: pointer;
}
.l14:hover{
    cursor: pointer;
}

/* second page */
/* .second-page{
    background-color: red;
    width: 95%;
    margin: 0px auto;
    margin-top: 24px;
    
} */
.font2{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}
.nav-bar2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 16.1px;
    font-weight: 600;
    padding: 3.5px;
    margin-left: 350px;
    margin-right: 350px;
}
.new:hover{
    cursor: pointer;
    opacity: 0.6;
}
.m:hover{
    cursor: pointer;
    opacity: 0.6;
}
.new:hover{
    cursor: pointer;
    opacity: 0.6;
}
.tv:hover{
    cursor: pointer;
    opacity: 0.6;
}
.app:hover{
    cursor: pointer;
    opacity: 0.6;
}
.es:hover{
    cursor: pointer;
    opacity: 0.6;
}
.sl:hover{
    cursor: pointer;
    opacity: 0.6;
}
.bg-cl2{
    background-color: whitesmoke;
    width: 40%;
    margin-left: 30px;
    height: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 585px;
    height: 393px;
    margin-left: 25px;
}
.tab{
    background-color: whitesmoke;
    position: absolute;
    left: 70px;
    top: 780px;
    margin-left: 25px;
}
.phone{
    position: absolute;
    left: 390px;
    top: 775px;
    margin-left: 25px;
}
.tv{
    position: absolute;
    left: 70px;
    top: 985px;
    margin-left: 25px;
}
.wm{
    position: absolute;
    left: 390px;
    top: 970px;
    margin-left: 25px;
}
.phone{
    transition: 0.5s;
}
.phone:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.tab{
    transition: 0.5s;
}
.tab:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.tv{
    transition: 0.5s;
}
.tv:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.wm{
    transition: 0.5s;
}
.wm:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.sale{
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: red;
    color: white;
    text-align: center;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 785px;
    left: 50px;
    top: 750px;
    left: 20px;
    margin-left: 25px;

}
.bg-cltab{
    background-color: whitesmoke;
    width: 292px;
    height: 282px;
    position: absolute;
    top: 742px;
    left: 620px;
    border-radius: 20px;
    margin-left: 25px;
}
.tab2{
    position: absolute;
    top: 775px;
    left: 653px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    margin-left: 25px;
}
.tab2{
    transition: 0.5s;
}
.tab2:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.bg-clfridge{
    background-color: whitesmoke;
    width: 292px;
    height: 282px;
    position: absolute;
    top: 742px;
    left: 940px;
    border-radius: 20px;
    margin-left: 25px;
}
.fridge{
    position: absolute;
    top: 753px;
    left: 968px;
    text-align: center;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    margin-left: 25px;
}
.fridge{
    transition: 0.5s;
}
.fridge:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.bg-clg24{
        background-color: whitesmoke;
        width: 292px;
        height: 282px;
        position: absolute;
        top: 1050px;
        left: 620px;
        border-radius: 20px;
        margin-left: 25px;
}
.g24{
    position: absolute;
    top: 1070px;
    left: 675px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    font-weight: bold;
    margin-left: 25px;
}
.g24{
    transition: 0.5s;
}
.g24:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.bg-cltv2{
    background-color: whitesmoke;
    width: 292px;
    height: 282px;
    position: absolute;
    top: 1050px;
    left: 940px;
    border-radius: 20px;
    margin-left: 25px;
}
.tv2{
    position: absolute;
    top: 1080px;
    left: 970px;
    text-align: center;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    margin-left: 25px;
}
.tv2{
    transition: 0.5s;
}
.tv2:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}
.bg-emp{
    background-color: whitesmoke;
    width: 585px;
    height: 175px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    top: 1158px;
    margin-left: 25px;
}
.text{
    position: absolute;
    top: 1160px;
    left: 240px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 20.56px;
    font-weight: bold;
    margin-left: 25px;
}
.small{
    position: absolute;
    top: 1260px;
    left: 235px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 300;
    margin-left: 25px;
}

/* third page */

.bg-cl3{
    background-color: whitesmoke;
    width: 1234px;
    height: 694.13px;
    opacity: 0.8;
    position: absolute;
    top: 1370px;
    margin-left: 25px;
}
.font3{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 32.56px;
    font-weight: 600;
    position: absolute;
    top: 1380px;
    left: 580px;
    margin-left: 25px;
}
.nav-bar3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 15.42px;
    font-weight: 600;
    position: absolute;
    top: 1480px;
    left: 250px;
    margin-left: 25px;
}
.nav31:hover{
    cursor: pointer;
    opacity: 0.5;
}
.nav32:hover{
    cursor: pointer;
    opacity: 0.5;
}
.nav33:hover{
    cursor: pointer;
    opacity: 0.5;
}
.nav34:hover{
    cursor: pointer;
    opacity: 0.5;
}
.nav35:hover{
    cursor: pointer;
    opacity: 0.5;
}
.font33{
    position: absolute;
    top: 1850px;
    left: 500px;
    font-size: 41.3px;
    font-weight: bold;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    margin-left: 25px;
}
.brief3{
    position: absolute;
    top: 1930px;
    left: 480px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 15.42px;
    margin-left: 25px;
}
.brief31{
    position: absolute;
    top: 1948px;
    left: 520px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 15.42px;
    margin-left: 25px;
}
.bg-img3{
    position: absolute;
    top: 1530px;
    left: 400px;
}
.learn1{
    position: absolute;
    top: 2000px;
    left: 550px;
    color: black;
    font-size: 8.5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin-left: 25px;
}
.buy1{
    position: absolute;
    top: 2000px;
    left: 615px;
    background-color: black;
    border-radius: 15px;
    width: 70px;
    height: 24px;
    margin-left: 25px;
}
.buy1:hover{
    opacity: 0.5;
    cursor: pointer;
}
.now1{
    position: absolute;
    top: 2000px;
    left: 632px;
    font-size: 8.1px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-left: 25px;
}

/* fourth page */

.bg-img4{
    position: relative;
    top: 931px;
    margin-left: 25px;
}
.font4{
    position: absolute;
    top: 2070px;
    left: 600px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 32.22px;
    font-weight: bold;
}
.nav-bar4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 44%;
    position: absolute;
    top: 2158px;
    left: 350px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 15.26px;
    font-weight: 600;
}
.nav41:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 110px;
    text-align: center;
    opacity: 0.5;
}
.nav42:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 65px;
    text-align: center;
    opacity: 0.5;
}
.nav43:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 85px;
    text-align: center;
    opacity: 0.5;
}
.nav44:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 100px;
    text-align: center;
    opacity: 0.5;
}
.nav45:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 130px;
    text-align: center;
    opacity: 0.5;
}
.font42{
    position: absolute;
    top: 2600px;
    left: 40%;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 40.7px;
    margin: 0px 0px 6.78333px;
    left: 260px;
    font-weight: 600;
}
.brief4{
    position: absolute;
    top: 2650px;
    left: 35%;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 15.265px;
}
.buy4{
    background-color: black;
    width: 85.3px;
    height: 33.56px;
    border-radius: 16px;
    position: absolute;
    top: 2700px;
    left: 47%;
}
.buy4:hover{
    cursor: pointer;
    opacity: 0.5;
}
.buynow4{
    position: absolute;
    top: 2690px;
    left: 620px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 15.8px;
    font-weight: bold;
    color: white;
}

/* fifth page */

.bg-img5{
    position: relative;
    top: 927px;
    margin-left: 25px;
}
.font5{
    position: absolute;
    top: 2750px;
    left: 40%;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 32.22px;
    font-weight: 600;
}
.nav-bar5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 63%;
    top: 2850px;
    left: 20%;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 15.2px;
    font-weight: 700;
    padding: 3.3px;
}
.nav51:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 155px;
    height: 29.13px;
    text-align: center;
    opacity: 0.5;
}
.nav52:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 190px;
    height: 29.13px;
    text-align: center;
    opacity: 0.5;
}
.nav53:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 170px;
    height: 29.13px;
    text-align: center;
    opacity: 0.5;
}
.nav54:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 160px;
    height: 29.13px;
    text-align: center;
    opacity: 0.5;
}
.nav55:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 93px;
    height: 29.13px;
    text-align: center;
    opacity: 0.5;
}
.font51{
    position: absolute;
    font-size: 40.7px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-weight: 600;
    top: 3250px;
    left: 450px;
}
.brief5{
    position: absolute;
    top: 3340px;
    left: 510px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 15.26px;
    width: 1180px;
}
.buy5{
    background-color: black;
    width: 85.3px;
    height: 33.56px;
    border-radius: 16px;
    position: absolute;
    top: 3385px;
    left: 47%;
}
.buy5:hover{
    cursor: pointer;
    opacity: 0.5;
}
.buynow5{
    position: absolute;
    top: 3392px;
    left: 620px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 15.8px;
    font-weight: bold;
    color: white;
}

/* sixth page */

.font6{
    position: absolute;
    top: 3410px;
    left: 32%;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 32.22px;
    padding: 40.7px;
}
.bg-cl61{
    background-color: whitesmoke;
    width: 223.84px;
    height: 509.22px;
    border-radius: 20px;
    position: relative;
    top: 1060px;
    margin-left: 25px;
}
.bg-cl62{
    background-color: whitesmoke;
    width: 223.84px;
    height: 509.22px;
    border-radius: 20px;
    position: relative;
    top: 1060px;
}
.bg-cl63{
    background-color: whitesmoke;
    width: 223.84px;
    height: 509.22px;
    border-radius: 20px;
    position: relative;
    top: 1060px;
}
.bg-cl64{
    background-color: whitesmoke;
    width: 223.84px;
    height: 509.22px;
    border-radius: 20px;
    position: relative;
    top: 1060px;
}
.bg-cl6{
    display: flex;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    position: relative;
    left: 120px;
}
.img6{
    position: absolute;
    top: 3640px;
    display: flex;
    justify-content: space-around;
    width: 77%;
    margin-left: 145px;
    align-items: center;
}
.text6{
    display: flex;
    justify-content: space-between;
    width: 68%;
    align-items: center;
    position: absolute;
    top: 3790px;
    left: 200px;
    font-size: 13.56px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.price{
    display: flex;
    justify-content: space-around;
    width: 78%;
    align-items: center;
    position: absolute;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 15.26px;
    font-weight: 600;
    top: 3950px;
    left: 150px;
}
.buy61{
    position: absolute;
    background-color: black;
    width: 150.3px;
    height: 33.45px;
    border-radius: 15px;
    top: 4030px;
    left: 200px;
}
.buy62{
    position: absolute;
    background-color: black;
    width: 150.3px;
    height: 33.45px;
    border-radius: 15px;
    top: 4030px;
    left: 455px;
}
.buy63{
    position: absolute;
    background-color: black;
    width: 150.3px;
    height: 33.45px;
    border-radius: 15px;
    top: 4030px;
    left: 705px;
}
.buy64{
    position: absolute;
    background-color: black;
    width: 150.3px;
    height: 33.45px;
    border-radius: 15px;
    top: 4030px;
    left: 955px;
}
.buynow6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 77%;
    position: absolute;
    top: 4040px;
    left: 150px;
    color: white;
    font-size: 11.8px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* seventh page */

.font7{
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32.22px;
    position: absolute;
    top: 4130px;
    left: 450px;
}
.img-7{
    position: absolute;
    top: 4250px;
    margin-left: 25px;
}
.subfont{
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    /* column-gap: 100px; */
    position: relative;
    top: 1300px;
    left: 60%;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 22.08px;
    font-weight: 600;
}

/* eighth page */
.font8{
    position: relative;
    top: 1500px;
    left: 35%;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 34.96px;
}
.bar{
    background-color: whitesmoke;
    border-color: black;
    width: 552px;
    height: 60.7px;
    border-radius: 30px;
    position: relative;
    top: 1480px;
    margin-left: 33%;
}
.search{
    position: absolute;
    top: 4965px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 16.33px;
    margin-left: 38%;
    opacity: 0.5;
}
.search-icon8{
    position: absolute;
    top: 4982px;
    margin-left: 35%;
}
.details8{
    position: relative;
    top: 1500px;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 11.04px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
    position: relative;
    top: 1550px;
}
.table1{
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 13.88px;
}
.table2{
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 13.88px;
}
.table3{
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 13.88px;
}
.table4{
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 13.88px;
}
.table5{
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 13.88px;
}
.end1{
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    font-size: 11.04px;
    font-weight: 500;
    position: relative;
    top: 1600px;
    margin-left: 1%;
}


